:root{
    --cherryblossompink : #EDAFB8;
    --champagnepink : #F7E1D7;
    --mossgreen :#8E8358;
    --aquamarine: #A9F0D1;
    --black : #020100;

}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
.gallery {
    width: 100%;
    max-width: 500px;
    margin: auto;
}

a{
    text-decoration: none;
    color: inherit;
}
body{
    background-color: var(--cherryblossompink);
    scrollbar-color: var(--cherryblossompink);

}
h1{
  text-align: center;
  font-family: 'Inter';  
  margin-top: 20px;

}
div.header img{
    position: absolute;
    height: 60px;
    margin-left: 555px;
}
div.gallery{
    background-color: var(--champagnepink);
    border: 2px solid #000000;
    float: left;
    text-align: center;
    transition: 0.7s;
    margin-left: 120px;
    margin-top: 70px;
}

div.gallery img{
    display: block;
    margin: 0px auto;
}

div.desc{
    color: var(--black);
    margin-top: 10px;
    margin-bottom: 20px;
    font-family: 'Inter';
    font-size: 20px;
    font-style: bold;  
    font-weight: 600;
    letter-spacing: 1.5px;
}
div.gallery:hover{
    transform:scale(1.1);
    cursor: pointer;
    box-shadow: 30px 10px var(--mossgreen),  50px 25px var(--black);
}

div#firstDate img{
    margin: 0 auto;
    margin-left: 150px;
    margin-top: 50px;
    border:3px solid  #000000;
    transition: 0.7s;
}

div#firstDate img:hover{
    transform:scale(1.1);
    cursor: pointer;
}
div#secondDate{
    display: flex;
    gap: 20px;
    
}
div#secondDate img[src=".\\img\\secondDate(1).jpg"]{
    margin-top: 20px;
    margin-left: 60px;
    border:3px solid var(--black);
    transition: 0.7s;
}
div#secondDate img[src=".\\img\\secondDate.jpg"]{
    margin-left: 450px;
    margin-top: 100px;
    border:3px solid var(--black);
    transition: 0.7s;
}
div#secondDate img:hover{
    transform:scale(1.1);
    cursor: pointer;
}

div#robloxDate{
    display: flex;
    justify-content: center;
    gap:20px
}
div#robloxDate img{
    margin-top: 20px;
    border: 2px solid var(--black);
    transition: 0.7s;
}
div#robloxDate img:hover{
    transform:scale(1.1);
    cursor: pointer;
}
.btn-back{
    display: flex;
    font-family: 'Inter';
    font-size: 21px;
    font-style: bold;
    background: transparent;
    color: white;
    border:3px solid white;
    margin-top: 50px;
    margin-left: 1100px;
    padding: 20px;
    transition: 0.7s;
    text-decoration: none;
}
.btn-back:hover{
    background-color: white;
    color: black;
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: 10px 10px var(--cherryblossompink) ;
    text-decoration: none;
}
div.textBox{
    font-family: 'Inter';
    font-weight: lighter;
    font-size: 25px;
    padding: 20px;
    background: black;
    box-shadow: 20px 10px var(--aquamarine), 30px 20px var(--mossgreen);
    color: white;
    margin: 100px;  
    height: 300px;
    border-radius: 30px;
}   